<%-include("./partials/header")-%>
<div class="text-center">
  <h2 class="font-bold text-5xl text-center">Enter Your Pincode</h2>
  <form action="/location" method="post">
    <input class="" type="number" required name="location" />
    <button>Submit</button>
  </form>
</div>
