<%-include("./partials/header")-%>
<div class="locationPage">
  <h2 class="font-bold text-5xl py-2 text-center">Enter Your Pincode</h2>
  <form action="/location" method="post">
    <input class="inputBox" type="number" required name="location" />
    <button class="bg-blue-500 bg-blue-700 text-white font-bold p-2 rounded-lg">Submit</button>
  </form>
</div>
