<%-include("./partials/header")-%>

<div class="RowGroup">

  <% for(let gp of groups) {%>
    <div class="GroupCard">
      <div class="groupName"><%= gp.name %></div>
      <a href="/:location/:group">
        <div class="buttonJoin"><button>Join</button></div>
      </a>
    </div>
    <% } %>
  </div>
