<%-include("./partials/header")-%>

<div class="RowGroup">

  <% for(let gp of groups) {%>
    <div class="GroupCard">
      <div class="groupName"><%= gp.name %></div>
      <div class="groupDescription">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores possimus culpa, distinctio fugit quos quae provident quibusdam delectus quas dolorem est quaerat tempore odio perspiciatis assumenda deleniti amet reiciendis repellat! Repudiandae eos quam eveniet.</p>
      </div>
      <a href="/<%=gp.id%>">
        <div class="buttonJoin"><button>Join</button></div>
      </a>
    </div>
    <% } %>
  </div>
